#auth {
    margin: 10% 40%;
}

#auth img {
    width: 45%;
    margin: 0 27.5%;

}

#auth h1, #auth p {
    font-family: "Play";
    text-align: center;
}

#auth form {
    width: 70%;
    padding: 0 15%;
    gap: 0.8em;
}

form#signup {
    padding: 0 7%;
    width: 86%;
}

#auth input[type="submit"] {
    width: calc(40% - 0.6ch); /* 0.6ch padding per side */
    margin: 3% 30%;
}

#auth h2 {
    font-size: 1.2rem;
    font-weight: normal;
}

.signup-role-tracker {
    display: none;
}

p#form-message {
    text-align: left;
    color: red;
}

#password_reset {
    font-size: 0.9rem;
    text-decoration: underline;
}