#auth {
    margin: 10% 32%;
}

#auth img {
    width: 30%;
    margin: 0 34%;

}

#auth h1, #auth > p, #auth > form > p {
    font-family: "Play";
    text-align: center;
}

#auth form {
    width: 70%;
    padding: 0 15%;
}

form#signup {
    padding: 0;
    width: 100%;
}

#auth input[type="submit"] {
    width: calc(40% - 0.6ch); /* 0.6ch padding per side */
    margin: 3% 30%;
}

#auth h2 {
    font-size: 1.2rem;
    font-weight: bold;
}

.signup-role-tracker {
    display: none;
}

p#form-message {
    text-align: left;
    color: red;
}

#password_reset {
    font-size: 0.9rem;
    text-decoration: underline;
}

@media screen and (max-width: 1400px) {
    #auth {
        margin: 4% 20%;
    }
}

@media screen and (max-width: 600px) {
    #auth {
        margin: 6% 3%;
    }
    #auth input[type="submit"] {
        width: calc(60% - 0.6ch); /* 0.6ch padding per side */
        margin: 3% 20%;
    }
    #auth form {
        width: 90%;
        padding: 0 5%;
    }
}