main.dashboard {
    margin: 0 15%;
    width: 70%;
}

.edit-account > div > input.labelled-input {
    width: 50%;
}

@media screen and (max-width: 1250px) {
    .edit-account > div > input.labelled-input {
        width: 70%;
    }
    main.dashboard {
        margin: 0 8%;
        width: 84%;
    }
}

@media screen and (max-width: 750px) {
    main.dashboard {
        margin: 0 4%;
        width: 92%;
    }
    .edit-account > div > input.labelled-input {
        width: 100%;
    }
}