header {
    padding: 1vh 2vw;
    display: grid;
    grid-template-columns: 40% 60%;
}

header a.title {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

header img {
    width: 6rem;
    border-radius: 25px;
}

header nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header nav a {
    font-size: 1.1rem;
    color: black;
    text-decoration: none;
}

header nav a:hover {
    text-decoration: underline;
}