table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
}

td, th {
    padding: 0.8ch;
}

th {
    font-weight: bold;
}

tr:nth-child(odd), a[role="row"]:nth-child(odd) {
    background-color: rgb(100,100,100);
}

tr::nth-child(even), a[role="row"]:nth-child(even) {
    background-color: rgb(200,200,200);
}