p Hello #{user},

p We received a password reset request for your MyMAST account (#{email}). To finish resetting your password, visit this link:
a #{link}

p 
    | If this was not you, please consider 
    a(href="https://my.memorialacademy.org/forgot_password" target="_blank") resetting your password
    | . If you have any questions or concerns, please contact us at
    a(href="mailto:hello@memorialacademy.org") hello@memorialacademy.org
    | , or just reply to this email.

p 
    | Sincerely,
    br
    | The Memorial Academy of Science and Technology