button, input[type="submit"], input[type="button"] {
    font-size: 1rem;
    font-family: "Play";
    letter-spacing: 0.12ch;
    background-color: var(--background-dark-white);
    border: 2px solid var(--light-gray);
    padding: 0.6ch;
}

button:hover, input[type="submit"]:hover {
    background-color: rgb(189, 189, 189);
}

button.big-button, a.big-button {
    display: block;
    font-size: 1.2rem;
    font-family: "Play";
    font-weight: bold;
    letter-spacing: 0.2ch;
    padding: 1.5rem 3rem;
    border-radius: 30px;
    border: 3px solid var(--light-blue);
    background-color: var(--light-blue);
    color: var(--white);
    text-decoration: none;

    transition: background 0.3s, color 0.3s;
}

button.big-button:hover, a.big-button:hover {
    background-color: var(--white);
    color: var(--light-blue);
    cursor: pointer;
}