footer {
    /* position: absolute; */
    bottom: 0;
    margin-top: 6vh;
    width: 100%;
}

footer p, footer a, footer a:visited {
    text-align: center;
    font-size: 0.7rem;
    color: var(--light-gray);
}

footer a {
    text-decoration: underline;
}

footer a:hover {
    color: var(--light-blue);
}