@import url(./inputs.css);
@import url(./buttons.css);

:root, body {
    --background-white: rgb(230,230,230);
    --background-dark-white: rgb(218, 218, 218);
    --light-gray: rgb(124,124,124);
    --gray: rgb(31, 31, 31);
    --white: rgb(255,255,255);
    --light-blue: rgb(27, 128, 223);

    font-size: 17px;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-white);
}

h1 {
    font-family: "Mate";
    color: black;
    font-size: 1.8rem;
}

h2 {
    font-family: "Play";
    font-size: 1.55rem;
    font-weight: bold;
}

h3 {
    font-family: "Play";
    font-weight: bold;
    font-size: 1.25rem;
}

h4 {
    font-size: 1.1em;
    font-family: "Play";
    font-weight: bold;
}

p, label, a, td, th, li, nav {
    font-size: 1rem;
    font-family: "Lato";
}

input {
    font-size: 1rem;
    font-family: "Play";
    letter-spacing: 0.12ch;
    padding: 0.3ch;
    margin: 0;
    border: 1px solid var(--light-gray);
    background-color: var(--white);
    outline: none;
    color: black;
}

input[type="checkbox"], input[type="radio"] {
    display: inline;
    width: auto;
}

/* Useful classes */
.bi-fold {
    display: grid;
    grid-template-columns: 49.5% 49.5%;
    gap: 1%;
}

.tri-fold {
    display: grid;
    grid-template-columns: 32.5% 32.5% 32.5%;
    gap: 1%;
}

.flex-row-resize {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1%;
}

/* Fonts */
@font-face {
    font-family: "Mate";
    src: url("../fonts/Mate/Mate-Regular.ttf");
}

@font-face {
    font-family: "Mate";
    font-style: italic;
    src: url("../fonts/Mate/Mate-Italic.ttf");
}

@font-face {
    font-family: "Play";
    src: url("../fonts/Play/Play-Regular.ttf");
}

@font-face {
    font-family: "Play";
    font-weight: bold;
    src: url("../fonts/Play/Play-Bold.ttf");
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato/Lato-Regular.ttf");
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato/Lato-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato/Lato-Italic.ttf");
    font-style: italic;
}

@font-face {
    font-family: "Kode Mono";
    src: url("../fonts/Kode_Mono/KodeMono-VariableFont_wght.ttf");
}