label.labelled-input.required::after {
    content: "*";
    color: red;
}

.labelled-input-wrapper {
    padding: 0.4rem 0;
}

input.labelled-input {
    width: calc(100% - 0.6ch);
}

input[type="checkbox"], input[type="radio"] {
    margin: 0 0.3rem;
}
.labelled-input-wrapper p {
    margin: 0;
    margin-bottom: 0.5ch;
}