#auth {
    margin: 10% 40%;
}

#auth img {
    width: 45%;
    margin: 0 27.5%;

}

#auth h1, #auth p {
    font-family: "Play";
    text-align: center;
}

#auth form {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 0 15%;
    gap: 0.8em;
}

#auth button {
    font-size: 1rem;
    font-family: "Play";
    letter-spacing: 0.12ch;
}